<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>

  <title>Attendance System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <style>
    .fa-user-graduate:hover {
    color: royalblue;
    }

    .fa-chalkboard-teacher:hover {
    color: royalblue;
    }

    .fa-book-open:hover {
    color: royalblue;
    }
  </style>
</head>
<body>
 <nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Attendance System</a>
    </div>

    <ul class="nav navbar-nav">
      <li ><a href="{% url 'staff_home' %}">Home</a></li>
      <li class="active"><a href="{% url 'take_attendance' %}">Take Attendance</a></li>
      <li><a href="">View/Update Attendance</a></li>
      <li><a href="">Add Result</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'logout' %}">
        Hi {{ user.first_name }}&nbsp;{{ user.last_name }}

        <span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
   </div>
   </nav>

    <div class="row">
    <div class="container-fluid" style="padding-top: 0%;background-color: lightblue;">
      <ul class="nav navbar-nav">
        <div class="navbar-header">
          <i class='fas fa-user-graduate' style='font-size:50px;color: black;'></i>
        </div>
        <li ><a href="#">View Attendance</a></li>
        <li class="active" style="background-color: lightgrey;"><a href="{% url 'take_attendance' %}">Take Attendance</a></li>

      </ul>
    </div>

    <div class="row" style="padding-top: 10px;">

      <div class="col-sm-1"></div>
      <div class="col-sm-10" style="background-color: lightgrey">
       {% if action is None %}
        <form method="post" action="{% url 'take_attendance' %}">
          {% csrf_token %}

          {% if messages %}
           {% for message in messages %}
             {% if message.tags == 'error' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                 {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;&times;</span>
                </button>
               </div>
            {% endif %}
           {% endfor %}
          {% endif %}

          {% if messages %}
           {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;&times;</span>
                </button>
               </div>
            {% endif %}
           {% endfor %}
          {% endif %}

          {% if messages %}
           {% for message in messages %}
            {% if message.tags == 'warning' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                 {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;&times;</span>
                </button>
               </div>
            {% endif %}
           {% endfor %}
          {% endif %}

            <label for="validationTooltip01">Student ID</label>
          <input type="text" style="background-color: lightyellow;width: 95%;" class="form-control" id="studentId" placeholder="Student ID" required>

          <label for="validationTooltip01">Attendance</label>
          <input type="Date" style="background-color: lightyellow;width: 95%;" class="form-control" name="staff_id" required>


          <label for="validationTooltip01" style="padding-top: 5px;">Subject</label>
          <select type="text" style="background-color: lightyellow;width: 95%;" class="form-control" name="subject_id" required>
            <option>Select Subject</option>
            {% for i in subject %}
            <option value="{{i.id}}">{{i.name}}</option>
             {% endfor %}
          </select>

           <label for="validationTooltip01" style="padding-top: 5px;">Session Year</label>
          <select type="text" style="background-color: lightyellow;width: 95%;" class="form-control" name="session_year_id" required>
            <option>Select Session Year</option>
            {% for i in session_year %}
            <option value="{{i.id}}">{{i.session_start}} To {{i.session_end}}</option>
             {% endfor %}
          </select>

            <label for="validationTooltip01" style="padding-top: 5px;">Status</label>
           <div class="form-group">
           <select class="form-control" id="status" style="background-color: lightyellow;width: 95%;">
            <option>Present</option>
            <option>Absent</option>
           </select>

          <div style="padding-bottom: 10px;"></div>

          <button class="btn btn-primary" style="padding-top: 10px;" type="submit" onclick="#">Submit</button>
        </form>

          {% else %}
          <label for="validationTooltip01">Student ID</label>
          <input type="text" style="background-color: lightyellow;width: 95%;" class="form-control" id="studentId" placeholder="Student ID" required>

          <label for="validationTooltip01">Attendance</label>
          <input type="Date" style="background-color: lightyellow;width: 95%;" class="form-control" name="staff_id" required>

           <label for="validationTooltip01" style="padding-top: 5px;">Status</label>
           <div class="form-group">
           <select class="form-control" id="status" style="background-color: lightyellow;width: 95%;">
            <option>Present</option>
            <option>Absent</option>
           </select>


          {% endif %}
      </div>
    </div>


  <div class="footer" style="position: fixed;left: 0;bottom: 0;width:100%;background-color: grey;color: white;text-align: center;">
    <p>All Rights Reserved</p>


</body>
</html>