{% extends 'base.html' %}
{% block content %}

</nav>

    <div class="row">
    <div class="container-fluid" style="padding-top: 0%;background-color: lightblue;">
      <ul class="nav navbar-nav">
        <div class="navbar-header">
          <i class='fas fa-user-graduate' style='font-size:50px;color: black;'></i>
        </div>
        <li ><a href="{% url 'view_subject' %}">View Subject</a></li>
        <li ><a href="{% url 'add_subject' %}">Edit Subject</a></li>

      </ul>
    </div>

    <div class="row" style="padding-top: 10px;">

      <div class="col-sm-1"></div>
      <div class="col-sm-10" style="background-color: lightgrey">

        <form method="post" action="{% url 'update_subject' %}">
          {% csrf_token %}

          {% if messages %}
           {% for message in messages %}
             {% if message.tags == 'error' %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                 {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;&times;</span>
                </button>
               </div>
            {% endif %}
           {% endfor %}
          {% endif %}

          {% if messages %}
           {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                 {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;&times;</span>
                </button>
               </div>
            {% endif %}
           {% endfor %}
          {% endif %}

          {% if messages %}
           {% for message in messages %}
            {% if message.tags == 'warning' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                 {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;&times;</span>
                </button>
               </div>
            {% endif %}
           {% endfor %}
          {% endif %}

          <label for="validationTooltip01">Subject Name</label>
          <input type="text" style="background-color: lightyellow;width: 95%;" class="form-control" name="subject_name" value="{{subject.name}}" required>
          <input type="text" style="background-color: lightyellow;width: 95%;" class="form-control" name="subject_id" value="{{subject.id}}" required hidden>

          <label for="validationTooltip01" style="padding-top: 5px;">Course</label>
          <select type="text" style="background-color: lightyellow;width: 95%;" class="form-control" name="course_id" required>
            <option>Select Course</option>
            {% for i in course %}
            <option value="{{i.id}}">{{i.name}}</option>
             {% endfor %}
          </select>


          <div style="padding-bottom: 10px;"></div>

          <button class="btn btn-primary" style="padding-top: 10px;" type="submit" onclick="insert_record()">Submit</button>
        </form>
      </div>
    </div>


<div class="footer" style="position: fixed;left: 0;bottom: 0;width:100%;background-color: grey;color: white;text-align: center;">
    <p>All Rights Reserved</p>



{% endblock %}